/*  Jose Daniel Mendoza
    Web 210.0001
 */
 /* Color Palette 
 https://coolors.co/424c55-d1ccdc-f5edf0-886f68-3d2c2e
 #D1CCDC Lanquid Lavender
 #424C55 Charcoal
 #F5EDF0 Lavender Blush
 #886F68 Cinerous
 #3D2C2E Old Burgandy
 */


 /* Global styles
 ---------------------------------------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #424C55;
    margin: 0;
    padding: 0;
    font: 14px/1.25 'Oxanium', cursive;;
}
img {
    width: 300px;
}
a {
    color: yellowgreen;
}
a:hover {
    text-decoration: none;
}
h1{
    font-size: 90px;
    font-weight: 100;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Alfa Slab One', cursive;
    margin: 0;
    text-shadow: 5px 5px rgba(0, 0, 0, 25%);
}
.content-wrap {
    width: 900px;
    margin: 0 auto;
}
 /* Profile
 ---------------------------------------- */
header {
    background: #3D2C2E ;
    color: #F5EDF0;
    padding: 3em 1em 0.5em;
}
h1 {
    color: #F5EDF0;
}
  /* Projects
 ---------------------------------------- */
.projects {
    background: #F5EDF0;
    padding: 3em 1em 0.5em;
}
.projects a {
    color: blue;
}
.projects .btn {
    color: #F5EDF0;
    background: yellowgreen;
    padding: 6px;
    border-radius: 4px ;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(154, 205, 50, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #3D2C2E;
    padding: 25px 0;
}
.project-item img{
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin: 0;
}
  /* Work Experience
 ---------------------------------------- */
.work-experience {
    background: #886F68;
    padding: 3em 1em 0.5em;
}
 /* Education
 ---------------------------------------- */
 .education {
    background: #F5EDF0;
    padding: 3em 1em 0.5em;
}


 /* Contact Info
 ---------------------------------------- */
footer{
    background: #424C55;
    color: #F5EDF0;
    padding: 3em 1em 0.5em;
}